*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.2s;
}

.container {
    width: 90%;
    background: url("img/mayoigsasRecurso\ 2@4x.png") no-repeat;
    background-size: 50%;
    background-position: left;
    padding: 180px 0;
}

.inner-container {
    float: right;
    background-color: rgba(255,255,255,0.7);
    padding: 40px 100px 60px 90px;
    position: relative;
    right: 10%;
    max-width: 200px;
    overflow: hidden;
    text-align: center;
}

.inner-container .content-container{
    max-width: 300px;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.inner-container .content-container #forget-password {
        
}

.inner-container .content-container #forget-password h3 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.inner-container .content-container #sign-in {
    text-align: center;
    margin-right: 100px;
    margin-left: 240px;
}

.inner-container nav input[type="button"]  {
    float: right;
    border: none;
    outline: none;
    border: 2px solid #f39c12;
    padding: 2px;
    color: gray;
    cursor: pointer;

}

.inner-container nav input[type="button"]:first-of-type {
    border-right: none;
    border-radius: 50px 0px 0px 50px;
    position: absolute;
    right: 80px;
}

.inner-container nav input[type="button"]:last-of-type {
    border-right: none;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    top: 20px;
    right: 0px;
}

.inner-container img {
    width: 100px;
    transition: 0.2s;

}

.inner-container img:hover {
    transform: scale(1.05);
}


.inner-container h1 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 800;
}

.inner-container .forget-password {
    font-size: 10px;
}


.inner-container .forget-password a{
    color: #f39c12;
}

.inner-container .forget-password a:hover{
    font-weight: bold;
}


.inner-container input[type="email"], .inner-container input[type="password"], .inner-container input[type="text"] {
    display: block;
    margin-bottom: 20px;
    padding: 8px 56px 8px 4px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    transition: 0.2s;
}


.inner-container input[type="email"]:focus, .inner-container input[type="password"]:focus, .inner-container input[type="text"]:focus {
    padding: 8px 50px 8px 10px;
    border-bottom: 1px solid #f39c12;
    color: #f39c12;
}


.inner-container input:last-of-type {
    margin-top: 20px;
    padding: 10px 78px;
    border-radius: 50px;
    border: 1px solid #f39c12;
    background: none;
    color: gray;
    cursor: pointer;
    transition: 0.2s;
}



.inner-container input[type="submit"]:hover {
    background-color: #f391f312;
    color: black;
}


.inner-container input[type="submit"]:hover {
    background-color: #f39c12;
    color: black;
}


.background-color ul {
    text-align: center;
}

.background-color ul li {
    list-style-type: none;
    display: inline-block;
    border-radius: 50px;

}

.background-color ul li:focus {
    border: 1px solid gray;

}

.background-color #gray {
    background-color: lightgray;
    width: 10px;
    height: 10px;
    transition: 0.2s;
}

.background-color #orange {
    background-color: #1d1d1b;
    width: 10px;
    height: 10px;
    transition: 0.2s;
}





@media screen and (max-width:1100px) {

    .container {
        width: 95%;
    }

    .inner-container {
        right: 5%;

    }
}


@media screen and (max-width:1050px) {

    .container {
        width: 100%;
        background-position: center;
        background-size: 70%;
        display: flex;
        justify-content: center;
    }

    .inner-container {
        right: 0%;
        background-color: white;
    }
}

@media screen and (max-width:850px) {

    .container {
        background: none;
    }

    .inner-container {
        background-color: rgba(255,255,255,0.7);
    }

}


@media screen and (max-width:550px) {
    .inner-container {
        padding: 80px 60px;
    }

    .inner-container h1 {
        font-size: 22px;
    }

    .inner-container img {
        width: 40%;

    }
    .inner-container nav input[type="button"] {
        padding:0.5px ;
    }

    .inner-container nav input[type="button"]:first-of-type {
        border-right: none;
        border-radius: 50px 0px 0px 50px;
        position: absolute;
        top: 40px;
        right: 74px;
    }
}

.special-div {
  position: absolute;
  
  width: 150px;
  height: 150px;
  right: 10px;
  bottom: 10px;
  background: url('https://ihebxxxjaouadi.github.io/images-repo/images/my-logo.png') no-repeat;
  background-size: 100%;
}
html{position:relative;min-height:100%}body{margin-bottom:60px}.footer{position:absolute;bottom:0;width:100%;height:60px;background-color:#f5f5f5}body>.container{padding:60px 15px 0}.container .text-muted{margin:20px 0}.footer>.container{padding-right:15px;padding-left:15px}.navbar-default{background-color:#f04949;border-color:#f04949;font-family:Droid Sans}.navbar-default .navbar-brand{color:#fff;font-family:Droid Sans}.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a{color:#fff}.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#333}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#555;background-color:#fff}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#555;background-color:#D5D5D5}.navbar-default .navbar-nav>.dropdown>a .caret,.navbar-default .navbar-nav>.dropdown>a:focus .caret,.navbar-default .navbar-nav>.dropdown>a:hover .caret{border-top-color:#fff;border-bottom-color:#fff}.navbar-default .navbar-nav>.open>a .caret,.navbar-default .navbar-nav>.open>a:focus .caret,.navbar-default .navbar-nav>.open>a:hover .caret{border-top-color:#555;border-bottom-color:#555}.navbar-default .navbar-toggle{border-color:#DDD}.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#f04949}.navbar-default .navbar-toggle .icon-bar{background-color:#fff}@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff}.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#333}}.chk-read{margin:0;padding:0!important}.btn-chk{padding-top:4px;padding-bottom:4px}.btn.btn-default.dropdown-toggle{padding-left:30%;padding-right:30%}    